{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Amiibo</title>
  <link rel ="stylesheet" type="text/css" href="{% static 'amiibo/style.css' %}" />
  <script src="{% static 'amiibo/js/jquery-2.1.4.min.js' %}"></script>
  <script src="{% static 'amiibo/js/js_fade.js' %}"></script>
</head>

<body>

  <h1>Amiibo</h1>

<div class= "FadeHover">  
  <ul>
    {% for amiibo in amiibo_list %} {# for MODEL in .. #}
      <li>
        <a href="{% url 'amiibo:detail' amiibo.pk %}">{{ amiibo.name }}
        <img src="{{ amiibo.image.url }}">
      </li>
    {% endfor %}
  </ul>
</div>
  
  </body>
  
</html>